<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detalhes do Produto</h1>
    <p><strong>Nome:</strong> {{ produto.nome }}</p>
    <p><strong>Código:</strong> {{ produto.codigo }}</p>
    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Quantidade em Estoque:</strong> {{ produto.quantidade_estoque }}</p>
    <p><strong>Fornecedor:</strong> {{ produto.fornecedor.nome }}</p>
    <p><strong>Categorias:</strong>
        {% for categoria in produto.categoria.all %}
            {{ categoria.nome }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'index' %}">Voltar à lista</a>
</body>
</html>